<h3>Contact us  by sending email using the link below</h3>
<email address="info@LaShoppe.com" link-text="contact us"></email>
<section>
    <div>
        <img class="img-responsive" src="~/Images/Contactusimg.png">
    </div>
</section>